<div class="grid grid-cols-1 grid-rows-2  bg-[#ECE8E1] h-screen">
  <div class="grid content-end">
    <h1 class="text-8xl sm:text-7xl lg:text-[96px] xl:text-[128px] font-normal text-[#2F2F2F] font-sora leading-none text-center">
      oficio
    </h1>
  </div>
    <div>
      <!-- Subtítulo -->
      <p class="text-xl sm:text-2xl lg:text-3xl xl:text-[36px] font-thin text-[#6F6F6F] font-sora mt-2 text-center">
        Code. Craft.
      </p>
  </div>
</div>