<div class="grid grid-rows-2 h-screen">
  <!-- TITULAR -->
  <div class="flex items-end justify-center">
    <h1
      class="font-normal leading-none text-center text-[#2F2F2F]"
     
    >
      oficio
    </h1>
  </div>
  <div class="flex items-start justify-center">
    <p class="font-thin text-[#6F6F6F] text-center">
      Code. Craft.
    </p>
  </div>
</div>

<style>
  h1 {
    font-size: 128px;
  }
  p {
    font-size: 36px;
  }
</style>