<header class="bg-[#D8D3CB] py-16 text-center">
  <h1 class="text-5xl sm:text-7xl lg:text-[96px] xl:text-[128px] font-normal text-[#3A3A3A] font-sora leading-none">
    oficio
  </h1>
  <p class="text-xl sm:text-2xl lg:text-3xl xl:text-[36px] font-thin text-[#3A3A3A] font-sora mt-2">
    Code. Craft.
  </p>
</header>
