---
import '../styles/global.css' 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>oficio</title>
	</head>
  <body class="px-0 py-0 sm:px-6 sm:py-6 lg:px-16 max-w-6xl mx-auto h-screen">
		<slot />
	</body>
</html>

