---
import '../styles/global.css' 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>oficio</title>
	</head>
  <body class="bg-[#F5F3EF] text-[#3A3A3A] px-2 py-2 sm:px-6 sm:py-6 lg:px-16 max-w-6xl mx-auto h-screen flex flex-col justify-center">
		<slot />
	</body>
</html>

